*{
  margin: 0%;
  padding: 0%;  
}



.Background-1{
    background-color:  #8889CC;
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.Text-1{
    text-align: center;
    font-size: 50px;
    color:rgb(0, 0, 0);
    margin-bottom: 30px;
    

}

.Text-2{
    text-align: center;
    font-size: 25px;
    
}

.Click-Button{
    margin-top: 150px;
    height: 100px;
    width: 150px;
    font-size: 50px;
    background-color: #BB88ED;
}

.Click-Button-2{
    margin-top: 150px;
    height: 100px;
    width: 150px;
    font-size: 50px;
    background-color: #BB88ED;
}

.Click-Button-3{
    margin-top: 150px;
    height: 100px;
    width: 150px;
    font-size: 50px;
    background-color: #BB88ED;
}


    




.Click-Buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}